data/*.fastq
data/bowtie2_example_index*
data/*.sam
data/*.bam
data/*.bai
data/*.txt
data/*.summary
data/*.gz
data/*.bt2
data/S_cere_GCF_000146045.2_R64_genomic.*
data/*.tsv
data/*.log
temp/
results/
.temp/
results/*
